 
    </body>
    
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
    
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-analytics.js"></script>
    
    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyAvEYQ1_KbcjF6UGGKsIjn9-QmE7jY4wjc",
        authDomain: "login-98619.firebaseapp.com",
        databaseURL: "https://login-98619.firebaseio.com",
        projectId: "login-98619",
        storageBucket: "login-98619.appspot.com",
        messagingSenderId: "569335081118",
        appId: "1:569335081118:web:46479e3abd84671593f38f",
        measurementId: "G-NVVZ6RP635"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
 </html>